.section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 20px;
  width: 100%;
}

.section a {
  color: white;
}

.cards {
  display: grid;
  gap: 15px;
  grid-template-columns: 150px 150px;
}

.card {
  display: inline-block;
  position: relative;
  width: 150px;
}

.card img {
  filter: brightness(0.7);
  width: 150px;
}

.card span {
  bottom: 5px;
  font-family: Nunito , Arial , sans-serif;
  font-size: 1.5em;
  left: 10px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 140px;
}
